 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a junior at Dartmouth College majoring in Computer Science and minoring in sociology. I'm a member and choreographer for SHEBA, a hip hop dance troupe, and I work as a web developer in the <a href="http://dali.dartmouth.edu/">Neukom DALI Lab</a> and as a TA for CS1.</p>
                </div>
                <div class="col-lg-4">
                    <p>This past year, I spent the fall studying CS in Budapest at the <a href="http://www.ait-budapest.com/">Acquincum Institute of Technology</a> and the winter as a software development intern at <a href="http://www.eventbrite.com/">Eventbrite</a>. I’m looking forward to returning to Dartmouth in the spring, and will be spending the summer working at <a href="http://www.pinterest.com/">Pinterest</a>!</p>
                </div>
            </div>
        </div>
    </section>
