 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a junior at Dartmouth College majoring in Computer Science and minoring in sociology. I'm a member and choreographer for SHEBA, a hip hop dance troupe, and I work as a web developer in the DALI lab.   </p>
                </div>
                <div class="col-lg-4">
                    <p>I spent this past summer on campus enrolled in courses with the rest of my class (it's a Dartmouth tradition). However, I will be spending the fall term in Budapest taking CS classes at the Acquincum Institute of Technology (and hopefully visiting as many cafes as humanly possible) </p>
                </div>
            </div>
        </div>
    </section>
